@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="pizzas-container">

    <div class="row">

        <h2 class="display-4 col-l2 text-center">Welcome to Cheems's pizza</h2>
        @{
            foreach (var pizza in Model.PizzaList)
            {
                <div class="col-3">
                    <div class="pizza">
                        <img src="Images/Pizzas/Cheddar Cheese.jpg" title="Cheddar Cheese" alt="Cheddar Cheese Pizza">
                        <div class="p-2">
                            <h2>@pizza.Name</h2>
                            <div class="pizza-description">
                                <p>@pizza.Ingredients</p>
                            </div>
                            <a asp-page="/PizzaDetails" asp-route-id="@pizza.Id" class="btn btn-success">Add</a>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
    
</div>